.about_color {
  color: #FF6F00;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-consult {
  display: flex;
  align-items: center;
  justify-content: end;
}

.prev,
.next {
  background-color: #000;
  /* Customize control icon colors */
}

.buttons {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.5rem 5rem;
}

.buttons:hover {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.5rem 5rem;
}

/* From Uiverse.io by e-coders */
.button-cta {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-cta:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-cta:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-cta:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-cta:focus {
  outline: 1px transparent;
}

.button-cta:before {
  display: none;
}

.button-cta:-webkit-details-marker {
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}

/* Custom styling for file input fields */
.custom-file-input {
  background-color: #f0f8ff;
  /* Light background */
  border: 1px solid #ddd;
  /* Light border */
  padding: 10px;
  font-size: 16px;
  color: #333;
  /* Text color */
}

.custom-file-input:focus {
  border-color: #5c6bc0;
  /* Focus color */
  box-shadow: 0 0 5px rgba(92, 107, 192, 0.5);
  /* Focus shadow */
}

.custom-file-input::-webkit-file-upload-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}


.custom-file-input:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/* Styling the small text note */
.form-text {
  font-size: 12px;
  color: #ffffff;
  /* Muted text */
  margin-top: 5px;
}

.custom-img-height {
  height: 300px;
  object-fit: cover;
  /* Ensures the image covers the fixed height without distortion */
}

.cursor-ppointer {
  cursor: pointer;
}
.bento-item {
  height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease;
}

.bento-item:hover {
  transform: scale(1.05);
}

.bento-tall {
  height: 410px;
}