.userdashboard-body-bg {
    background: #e1e4f0;
}

.profile-card-header {
    background: #fff;
    border: none;
}

hr:not([size]) {
    height: 1px;
    color: #bfc3d7;
}

.work-gallery-heading {
    background-color: #fff;
    padding: 10px;
    border-radius: 14px;
}

.add-gallery-btn {
    margin-top: 9px;
    margin-right: 10px;
}

.bento-item {
    border-radius: 15px;
    border: 4px solid #fff;
}

.dropzone {
    border-radius: 15px;
}

.view-portfolio-btn {
    background: #042f66;
    color: #fff;
    border: none;
}

.update-portfolio-btn,
.upload-portfolio-btn {
    background: #b80012 !important;
    color: #fff;
}

.card-body h3 {
    text-transform: capitalize;
}
.user-thumb{
    border-radius: 50% !important;
    border: 2px solid #ffffff;
    box-shadow: 1px 4px 6px #0000003f!important;
}

.logout_btn {
    
    background: #db3c4b;
    color: #fff;
    font: 18px!important;
}
.logout_btn i{color:#fff!important;}



/* responsive css */

@media(max-width:768px) {
    p {
        font-size: 12px;
    }
}

@media(max-width:425px) {
    .btn-lg {
        width: 100%;
        font-size: 11px;
        padding: 5px 8px;
    }

    .work-gallery-heading {
        font-size: 18px;
    }

    .featured-list p {
        background: #ddd;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }

    .d-flex {
        display: contents !important;
    }

    .logout_btn {
        width: 80%;
        background: #db3c4b;
        color: #fff;
    }
    .logout_btn i{color:#fff!important;}

    .user-thumb{
        border-radius: 50% !important;
        border: 2px solid #ffffff;
        box-shadow: 1px 4px 6px #0000003f!important;
    }
}