/* .banner {
    background-image: url("./bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   
}
@media screen and (max-width:768px) {
    .banner {
        background-image: url("./bg.png");
        background-position: center center;
        background-repeat: no-repeat;
        height: 24vh;
        margin-bottom: 2rem;
        background-size: 100% 100%;
    }
} */