@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);

.images-svg{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1070' height='128.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-opacity='0.46'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.service-35 {
  /* font-family: "Montserrat", sans-serif; */
  color: #8d97ad;
  font-weight: 300;
  /* background-color: #f5f7fa; Light background */
  padding: 0rem 0 2rem 0;
}

.service-35 h1,
.service-35 h2,
.service-35 h3,
.service-35 h4,
.service-35 h5,
.service-35 h6 {
  color: #3e4555;
  margin-bottom: 1rem;
  font-weight: 700;
}

.service-35 .font-weight-medium {
  font-weight: 500;
}

.service-35 .badge {
  line-height: 14px;
  font-size: 12px;
}

.service-35 .badge-success {
  background-color: #0B2A51;
  padding: 0.5rem 1rem;
  font-size: 14px;

  padding: 10px 15px !important;
}

.service-35 .max-500 {
  max-width: 1000px;
}

.service-35 .card {
  border: none;
  background-color: #ffffff;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); */
}

.service-35 .card-body {
  /* padding: 2rem; */
}

.service-35 .card-body h3 {
  font-size: 1.8rem;
  color: #003873;
}

.service-35 .card-body p {
  color: #6c7d71;
  font-size: 1rem;
  line-height: 1.5;
}

.service-35 .swiper-slide h5 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #003873;
  text-transform: uppercase;
  text-align: center;
}

.service-35 .swiper-slide img {
    width: 100%;
  border-radius: 10px;
  /* margin-bottom: 1rem; */
  transition: transform 0.3s ease;
}



.feature-35-swiper {
  padding: 2rem;
}

.feature-35-swiper .swiper-pagination-bullet {
  background-color: #0B2A51;
}

.feature-35-swiper .swiper-button-next,
.feature-35-swiper .swiper-button-prev {
  color: #003873;
  font-weight: bold;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  

  .service-steps-list {
    list-style: none; /* Remove default bullet points */
    padding: 0;
    counter-reset: step-counter;
    margin: 1.5rem 0;
  }
  
  .service-steps-list li {
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
    color: #003873;
    font-size: 1rem;
    line-height: 1.5;
    counter-increment: step-counter; 
    font-weight: 500;
    color: black !important;
  }
  
  .service-steps-list li::before {
    content: counter(step-counter);
    counter-increment: step;
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-color: #0B2A51;
    color: #ffffff;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .service-steps-list strong {
    font-size: 1.3rem;
    color: #003873;
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .service-steps-list li:hover {
    color: #0B2A51;
  }
  